<!DOCTYPE html>
<html>
  <head>
    <title>NinetyNineCats</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header>
      <% if current_user %>
      <!-- calling upon the current user  -->
        Username: <%= current_user.username %>
        <button type="button" name="logout" action="">
      <% else %>
        <button type="button" name="login">
      <% end %>
    </header> 
    <%= yield %>
  </body>
</html>
